alias edit_aliases="nano ~/.aliases && source "~/.aliases""


#
# system aliases
#
alias lsla="ls -lha"
alias lsl="ls -l"
alias lsline='ls $@ | tr "\n" " "'
alias ln="ln -s"
alias cd..="cd .."
alias cd...="..."

alias tail_ls='chshell() { chsh -s $(which "$1") ;}; chshell'
alias ls_tail='ls_tail() { ls -l "$1" | tail ;}; ls_tail'
alias folder_size='folder_size() { du -sh "$1" ;}; folder_size'

alias t=' && echo yes || echo no'
alias crontablog="sudo grep CRON /var/log/syslog"

alias install="sudo apt install"
alias installdeb="sudo dpkg -i"
alias update="sudo apt update"
alias upgrade="sudo apt upgrade"
alias upgradable="apt list --upgradable"
upgradable-list_func() {
  upgradable | tail -n +2 | awk -F'/' '{print $1}' | tr '\n' ' '
}
alias upgradable-list="upgradable-list_func"
alias upgradable-list-new="upgradable | tail -n +2 | awk '{split($0,a,"/"); print a[1]}' | tr '\n' ' '"

alias remove="sudo apt remove"
alias autoremove="sudo apt-get autoremove"
alias dist-upgrade="sudo apt-get dist-upgrade"
alias sources="sudo nano /etc/apt/sources.list"

alias filesBySize="du -ah $1 | grep -v "/$" | sort -rh"
alias filesBySizeLimited="du -ah $1 | grep -v "/$" | sort -rh | head -10"


#
# Programs aliases
#
upgrade_oh_my_zsh="cd "$ZSH" && git stash && upgrade_oh_my_zsh"

alias openvpn="sudo service openvpn"
alias openvpn_start="openvpn start"

alias nomachine="sudo /etc/NX/nxserver"
alias nomachine_restart="nomachine --restart"



#
# Docker
#
get_container_id_by_name() { get_container_id=$(docker container ls -a --filter name="$1" | tail -n +2 | awk '{print($1)}');};
docker_enter() { docker run -i "$1" /bin/bash }
alias di="docker images"
alias docker_list_containers_all='docker container ls -a -q | tr "\n" " "'
alias docker_stop_all='docker stop $(docker ps -a -q | tr "\n" " ")'     # stop all containers
alias docker_rm_cont_all='docker rm $(docker ps -a -q | tr "\n" " ")'       # remove all containers
alias docker_list_images_all='docker images -q | tr "\n" " "' # list all docker images
alias docker_rm_images_all='docker rmi -f $(docker_list_images_all)'  # remove all docker images
alias docker_list_volumes_all='docker volume ls -q | tr "\n" " "' # list all volumes images
alias docker_rm_volumes_all='docker volumes rm $(docker_list_volumes_all)'  # remove all docker volume
alias docker_clean_all="docker_stop_all; docker_rm_cont_all; docker_rm_images_all"

htpasswd_docker() { docker run --rm httpd:2.4-alpine htpasswd -nbB ${1} ${2} ;};

# portainer
# https://github.com/portainer/portainer
get_portainer_container_id() { get_container_id_by_name "portainer" && portainer_container_id=${get_container_id} ;};
dockerGUI_func() {
  #portainer_container_id=$(get_portainer_container_id)
  # portainer_container_id=$(docker container ls -a --filter name="portainer" | tail -n +2 | awk '{print($1)}')
  #if [[ ${portainer_container_id} != "" ]] ; then
  #  # echo "Remove old portainer container: ${portainer_container_id}"
  #  docker stop ${portainer_container_id} &> /dev/null
  #  docker rm -v -f ${portainer_container_id} &> /dev/null
  #  docker rmi -f ${portainer_container_id} &> /dev/null
  #fi
  docker rm portainer > /dev/null
  docker rmi portainer/portainer:latest > /dev/null
  docker run -d -p 9000:9000 --name portainer \
    --restart always \
    -v /var/run/docker.sock:/var/run/docker.sock \
    portainer/portainer \
    -H unix:///var/run/docker.sock \
    --no-auth \
    &> /dev/null && \
  firefox "http://0.0.0.0:9000/#/dashboard" &> /dev/null && \
  wmctrl -r "Portainer" -t 8
};
alias dockerGUI="dockerGUI_func &"
alias portainer="dockerGUI"

# ctop
# https://github.com/bcicen/ctop
ctop_docker() {
  docker run --rm -ti \
    --name=ctop \
    -v /var/run/docker.sock:/var/run/docker.sock \
    quay.io/vektorlab/ctop:latest
}
alias ctop_docker="ctop_docker"
alias ctop="ctop_docker"


######
# Personal aliases
######

#
# my git aliases
#
new-repo() { fullRepoPath="$1"; repoNameGit=$(basename "$fullRepoPath"); repoName="${repoNameGit%.*}"; mkdir -p ~/REPOSITORIOS/$repoName};
alias git-clone='git-clone() { fullRepoPath="$1"; repoNameGit=$(basename "$fullRepoPath"); repoName="${repoNameGit%.*}"; mkdir -p ~/REPOSITORIOS/$repoName; git clone "$1"}; git-clone'
alias git-new='git-new() { fullRepoPath="$1"; repoNameGit=$(basename "$fullRepoPath"); repoName="${repoNameGit%.*}"; mkdir -p ~/REPOSITORIOS/$repoName; echo "# $repoName" >> README.md; git init; git add README.md; git commit -m "first commit"; git remote add origin $1; git push -u origin master}; git-new'


# my repos aliases
alias start_ETSIINFBot="~/REPOSITORIOS/ETSIINFbot/yii start/updates"
alias stop_ETSIINFBot="~/REPOSITORIOS/ETSIINFbot/yii start/stop-hook"


#
# androtest && AoD
#
get_androtest_container_id() { androtest_container_id=$(docker ps -a | grep androtest | awk '{print $1}');};

docker_stop_androtest() {
  # get_androtest_container_id()
  androtest_container_id=$(docker ps -a | grep androtest | awk '{print $1}')
  if [[ ${androtest_container_id} == "" ]] ; then
    echo "Any androtest container running"
  else
    docker stop ${androtest_container_id}
  fi
};

docker_enter_androtest-test() {
  TOOL=$1
  C=androtest-test-${TOOL:-puma}
  AP=~/REPOSITORIOS/androtest-test
  [[ ! -d $AP ]] && echo "dir: $AP - not exist" && exit 1
  cd $AP
  docker run --publish-all --privileged \
    -v $(pwd)/lib:/home/vagrant/lib:rw \
    -v $(pwd)/results:/home/vagrant/results:rw \
    -v $(pwd)/subjects:/home/vagrant/subjects:rw \
    -v $(pwd)/scripts:/home/vagrant/scripts:rw \
    -v $(pwd)/tools:/home/vagrant/tools:rw \
    -i $C /bin/bash
};

alias adc="docker build --tag androtest-docker ."
alias ade="docker run --interactive --rm --tty androtest-docker bash"

alias up_run1="cd ~/vagrant/androtest && vagrant up run1 && cd"
alias down_run1="cd ~/vagrant/androtest && vagrant halt run1 && cd"
alias ssh_run1="ssh vagrant@127.0.0.1 -p 2222"
alias start_run1="up_run1 && ssh_run1"

alias up_run2="cd ~/vagrant/androtest && vagrant up run2 && cd"
alias down_run2="cd ~/vagrant/androtest && vagrant halt run2 && cd"
alias ssh_run2="ssh vagrant@127.0.0.1 -p 2200"
alias start_run2="up_run2 && ssh_run2"


# others
ic_docker() {
  opts=$@
  cd ~/REPOSITORIOS/imdea-controls-cli_gitlab/
  make OPTS="$opts"
  cd - > /dev/null
}
alias ic="ic_docker"
