[
  {
    title: "androtest"
    group: "IMDEA"
    paths: [
      "~/REPOSITORIOS/androtest"
      "~/REPOSITORIOS/androtest_toolsRepo"
    ]
  }
  {
    title: "IMDEA Controls"
    group: "IMDEA"
    paths: [
      "~/REPOSITORIOS/imdea-controls"
      "~/REPOSITORIOS/IMDEA"
    ]
  }
  {
    title: "Personal"
    group: "MY"
    paths: [
      "~/REPOSITORIOS/ETSIINFbot"
      "~/REPOSITORIOS/TryIT"
      "~/REPOSITORIOS/configLinux"
      "~/REPOSITORIOS/svg153.github.io"
    ]
  }
  {
    title: "CS Study"
    group: "UNI"
    paths: [
      "~/REPOSITORIOS/TCI_practicas.16171S"
      "~/REPOSITORIOS/II_arduino16171S"
      "~/REPOSITORIOS/EC_proyecto.2014b"
    ]
  }

]
